body {
  font-family:'Atma';
  color: whitesmoke;
  background: url(../img/atardecer.jpg);
  height: 100vh;
  background-size: cover;
  overflow: auto;
}

h3 {
  font-weight: bold;
  color: #FFBF16;
}

.contenedorQuienesSomos {
  height: 148vh;
}

.cheff {
  animation-name: girarEjeY;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes girarEjeY{
  from{
      transform:rotateY(0deg)
  }
  to {
      transform: rotateY(360deg)
  }
}

.contenedorDeliveryDePedidos {
  height: 120vh;
}

.contenedorDeliveryDePedidos img {
  animation-name: girarReversa;
  animation-iteration-count:inicial;
  animation-duration: 2s;
  animation-direction: reverse;
}

@keyframes girarReversa{
  from{
      transform:rotateY(0deg)
  }
  to {
      transform: rotateY(90deg)
  }
}

.contenedorServiciosAlBarrio img {
  animation-name: girar;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes girar{
  from{
      transform: rotate3d(0);
  }
  to {
      transform: rotate3d(0, 1, 0.5, 3.142rad);
  }
}

.contenedorTrabajemosJuntos {
  height: 125vh;
}

.contenedorPreguntasFrecuentes {
height: 165vh;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.fondoBoton {
  background-color: #f1f1f1;
}